<form method="post" action="{{ path('film_delete_actor', {
    id: film.id,
    id_actor: actor.id
    }) }}" onsubmit="return confirm('Are you sure you want to delete this actor?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ film.id) }}">
    <button class="btn btn-outline-danger float-end">
        <i class="bi bi-trash"></i>
    </button>
</form>