{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
{% if addActorForm is defined %}
    <div class="row p-2 my-3">
        <div class="col-3">
            <label>Actors</label>
            <ul class="list-group p-2 my-2">
                {% for actor in film.actors %}
                    <li class="list-group-item p-2">
                        {{ actor.name }}
                        {% include "film/_delete_actor.html.twig" %}
                    </li>
                {% else %}
                    <li class="list-group-item warning">No actors added yet.</li>
                {% endfor %}
            </ul>
        </div>
            <div class="col-3">
                {{ form_start(addActorForm) }}
                    {{ form_widget(addActorForm) }}
                {{ form_end(addActorForm) }}
            </div>
    </div>
{% endif %}
