<div class="col d-flex justify-content-between align-items-center">
    <div class="card shadow-sm">
        {% if film.posterUrl matches '{https://}' %}
            <img src="{{film.posterUrl}}" class="thumbnail img-responsive">
        {% else %}
            <img src="{{ asset(covers_dir ~'/'~(film.posterUrl ?? 'default.jpg'))}}" class="thumbnail img-responsive">
        {% endif %}
        <div class="card-body">
            <h4>{{ film.title }}</h4>
            <h6 class="text-muted">{{ film.genre }}</h6>
            <div class="d-flex justify-content-between align-items-center">
                
                <div class="btn-group">
                    <a href="{{ path('film_show', {'id': film.id}) }}" type="button" class="btn btn-sm btn-outline-secondary">View</a>
                    {% if is_granted('edit', film) %}
                        <a href="{{ path('film_edit', {'id': film.id}) }}" type="button" class="btn btn-sm btn-outline-secondary">Edit</a>
                    {% endif %}
                </div>
                <small class="text-muted">{{ film.runningTime }} mins</small>
            </div>
        </div>
    </div>
</div>