{% extends 'base.html.twig' %}

{% block title %}Search in films{% endblock %}

{% block body %}
    <h1>Search in films</h1>
    {{ form_start(search_form) }}
            <div class="row mb-3 p-3 bg-secondary rounded">
                <div class="col-2">
                    {{ form_row(search_form.field) }}
                </div>
                <div class="col-2">
                    {{ form_row(search_form.value) }}
                </div>
                <div class="col-2">
                    {{ form_row(search_form.order) }}
                </div>
                <div class="col-2">
                    {{ form_row(search_form.direction) }}
                </div>
                <div class="col-2">
                    {{ form_row(search_form.limit) }}
                </div>
                <div class="col-2">
                    <div style="margin: 20%">
                        {{ form_row(search_form.Search) }}
                    </div>
                </div>
            </div>

    {{ form_end(search_form) }}
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
        {% for film in films %}
            {% include "film/film_card.html.twig" %}
        {% endfor %}
    </div>
{% endblock %}
