{% extends 'base.html.twig' %}

{% block title %}List of films{% endblock %}

{% block body %}
    <h1>List of Films</h1>
    <div class="row">
        <a class="m-3 col-2 btn btn-outline-primary" href="{{ path('film_search') }}">Search</a>
        {% if is_granted('ROLE_USER') %}
            <a class="m-3 col-2 btn btn-outline-primary" href="{{ path('film_new') }}">New Film</a>
        {% endif %}
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
        {% for film in films %}
            {% include "film/film_card.html.twig" %}
        {% endfor %}
    </div>
    {% include('paginator.html.twig') %}
{% endblock %}
