{% extends 'base.html.twig' %}

{% block title %}{{ film.title }}{% endblock %}

{% block body %}
    <h1>{{ film.title }}</h1>
    <div class="row">
        <div class="col-3">
            {% if film.posterUrl matches '{https://}' %}
                <img src="{{film.posterUrl}}" class="rounded img-fluid">
            {% else %}
                <img src="{{ asset(covers_dir ~'/'~(film.posterUrl ?? 'default.jpg'))}}" class="rounded img-fluid">
            {% endif %}
            <a class="btn btn-outline-secondary my-3" href="{{ path('film_index') }}">back to list</a>
            {% if is_granted('edit', film) %}
                <a class="btn btn-outline-warning" href="{{ path('film_edit', {'id': film.id}) }}">edit</a>
            {% endif %}
            {% if is_granted('edit', film) %}
                {{ include('film/_delete_form.html.twig') }}
            {% endif %}
        </div>
        <div class="col-9">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Year</th>
                        <td>{{ film.year }}</td>
                    </tr>
                    <tr>
                        <th>Title</th>
                        <td>{{ film.title }}</td>
                    </tr>
                    <tr>
                        <th>Running Time</th>
                        <td>{{ film.runningTime }} min.</td>
                    </tr>
                    <tr>
                        <th>Director</th>
                        <td>{{ film.director }}</td>
                    </tr>
                    <tr>
                        <th>Genre</th>
                        <td>{{ film.genre }}</td>
                    </tr>
                    <tr>
                        <th>Plot</th>
                        <td>{{ film.plot }}</td>
                    </tr>
                </tbody>
            </table>
            <h5>Actors</h5>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3 mb-4">
                {% for actor in film.actors %}
                    {% include "actor/actor_card.html.twig" %}
                {% else %}
                    <ul class="list-group p-2 my-3">
                        <li class="list-group-item warning">No actors added yet.</li>
                    </ul>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
