<form 
    method="post" 
    action="{{ path('actor_delete', {'id': actor.id}) }}"
    onsubmit="return confirm('Are you sure you want to delete this actor?');"
>
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ actor.id) }}">
    <button class="btn btn-outline-danger">Delete</button>
</form>
