{{ form_start(form) }}
    <div class="row">
        <div class="col-5">
            {{ form_row(form.name) }}
        </div>
        <div class="col-4">
            {{ form_row(form.nationality) }}
        </div>
        <div class="col-3">
            {{ form_row(form.birthday) }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ form_row(form.biography) }}
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            {{ form_row(form.picture) }}
        </div>
    </div>
    <div class="float-end">
        <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
    </div>
{{ form_end(form) }}
{% if addFilmForm is defined %}
    <div class="row p-2 my-3">
        <div class="col-3">
            <label>Films</label>
            <ul class="list-group p-2 my-2">
                {% for film in actor.films %}
                    <li class="list-group-item p-2">
                        {{ film.title }}
                        <a href="#">
                            <i class="bi bi-trash"></i>
                        </a>
                    </li>
                {% else %}
                    <li class="list-group-item warning">No films added yet.</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-3">
            {{ form_start(addFilmForm) }}
                {{ form_widget(addFilmForm) }}
            {{ form_end(addFilmForm) }}
        </div>
    </div>
{% endif %}
