<div class="col d-flex justify-content-between align-items-center">
    <div class="card shadow-sm">
        <img src="{{ asset(covers_dir ~'/'~(actor.picture ?? 'default.jpg'))}}" class="thumbnail img-responsive">
        <div class="card-body">
            <h4>{{ actor.name }}</h4>
            <h6 class="text-muted">{{ actor.nationality }}</h6>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                <a href="{{ path('actor_show', {'id': actor.id}) }}" type="button" class="btn btn-sm btn-outline-secondary">View</a>
                {% if is_granted('edit', actor) %}
                    <a href="{{ path('actor_edit', {'id': actor.id}) }}" type="button" class="btn btn-sm btn-outline-secondary">Edit</a>
                {% endif %}
                </div>
                <small class="text-muted">{{ actor.age }} years old.</small>
            </div>
        </div>
    </div>
</div>