{% extends 'base.html.twig' %}

{% block title %}Edit Actor{% endblock %}

{% block body %}
    <h1>Edit Actor</h1>
    <div class="row">
        {{ include('actor/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
    <div class="row" style="margin-top: -38px;">
        <div class="col-1">
            {{ include('actor/_delete_form.html.twig') }}
        </div>
        <div class="col-3">
            <a class="btn btn-outline-secondary"href="{{ path('actor_index') }}">Back to Actor list</a>
        </div>
    </div>
{% endblock %}
