{% extends 'base.html.twig' %}

{% block title %}List of Actors{% endblock %}

{% block body %}
    <h1>List of Actors</h1>
    <div class="row">
        {% if is_granted('ROLE_USER') %}
            <a class="m-3 col-2 btn btn-outline-primary" href="{{ path('actor_new') }}">New Actor</a>
        {% endif %}
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
        {% for actor in actors %}
            {% include "actor/actor_card.html.twig" %}
        {% endfor %}
    </div>
{% endblock %}
