{% extends 'base.html.twig' %}

{% block title %}New Actor{% endblock %}

{% block body %}
    <h1>Create new Actor</h1>

    {{ include('actor/_form.html.twig') }}

    <a class="btn btn-outline-secondary" href="{{ path('actor_index') }}">Back to Actors list</a>
{% endblock %}
