{% extends 'base.html.twig' %}

{% block title %}Actor{% endblock %}

{% block body %}
    <h1>Actor</h1>
    <div class="row">
        <div class="col-3">
            <img src="{{ asset(covers_dir ~'/'~(actor.picture ?? 'default.jpg'))}}" class="rounded img-fluid">
            <a class="btn btn-outline-secondary my-3" href="{{ path('actor_index') }}">Back to Actor list</a>
            {% if is_granted('edit', actor) %}
                <a class="btn btn-outline-warning" href="{{ path('actor_edit', {'id': actor.id}) }}">edit</a>
                {{ include('actor/_delete_form.html.twig') }}
            {% endif %}
        </div>
        <div class="col-9">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ actor.id }}</td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td>{{ actor.name }}</td>
                    </tr>
                    <tr>
                        <th>Birthday</th>
                        <td>{{ actor.birthday ? actor.birthday|date('d/m/Y') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Nationality</th>
                        <td>{{ actor.nationality }}</td>
                    </tr>
                    <tr>
                        <th>Biography</th>
                        <td>{{ actor.biography }}</td>
                    </tr>
                </tbody>
            </table>
            <h5>Films</h5>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3 mb-4">
                {% for film in actor.films %}
                    {% include "film/film_card.html.twig" %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
