<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="white" class="bi bi-camera-reels m-1" viewBox="0 0 20 20">
            <path d="M6 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM1 3a2 2 0 1 0 4 0 2 2 0 0 0-4 0z"/>
            <path d="M9 6h.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 7.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 16H2a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h7zm6 8.73V7.27l-3.5 1.555v4.35l3.5 1.556zM1 8v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1z"/>
            <path d="M9 6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM7 3a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
        </svg>
        <a class="navbar-brand" href="{{ path('home') }}">SymfoFilms</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% set path_info = app.request.pathInfo %}
                <li class="nav-item">
                    <a 
                        class="nav-link {% if path_info matches '{film}' %}active{% endif %}" 
                        {% if path_info matches '{film}' %}aria-current="page"{% endif %}
                        href="{{ path('film_index') }}"
                    >
                        Films
                    </a>
                </li>
                <li class="nav-item">
                    <a 
                        class="nav-link {% if path_info matches '{actor}' %}active{% endif %}"
                        {% if path_info matches '{actor}' %}aria-current="page"{% endif %}
                        href="{{ path('actor_index') }}"
                    >
                        Actors
                    </a>
                </li>
                <li class="nav-item">
                    <a 
                        class="nav-link {% if path_info matches '{contact}' %}active{% endif %}"
                        {% if path_info matches '{contact}' %}aria-current="page"{% endif %}
                        href="{{ path('contact_form') }}"
                    >
                        Contact
                    </a>
                </li>
            </ul>
        </div>
        {% if is_granted('ROLE_USER') %}
            <div class="d-flex">
                <span class="badge bg-secondary my-4">{{ app.user.name }} ({{ app.user.email }})</span>
                <a class="btn btn-danger m-3" href="{{ path('logout') }}" >Logout</a>
            </div>
        {% else %}
            <div class="d-flex">
                <a href="{{ path('login') }}" class="btn btn-dark btn-lg px-4 gap-3">
                    Login
                </a>
                <a href="{{ path('app_register') }}" class="btn btn-dark btn-lg px-4 gap-3">
                    Register
                </a>
            </div>
        {% endif %}
    </div>
</nav>