<nav class="float-end mt-5" aria-label="Page navigation example">
    <p>
        Results from {{ (pagination.page - 1) * pagination.limit + 1}} to {{ pagination.page != pagination.total_pages ? pagination.page * pagination.limit : pagination.total }} of {{ pagination.total }}
    </p>
    <ul class="pagination">
        <li class="page-item {% if pagination.page == 1%} disabled {% endif %}">
            <a class="page-link" href="{{ path(pagination.link, {page: pagination.page - 1}) }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>

        {% if pagination.page == pagination.total_pages %}
            <li class="page-item">
                <a class="page-link" href="{{ path(pagination.link, {page: pagination.page - 2 }) }}">{{ pagination.page - 2 }}</a>
            </li>
        {% endif %}

        {% if pagination.page > 1 %}
            <li class="page-item">
                <a class="page-link" href="{{ path(pagination.link, {page: pagination.page - 1}) }}">{{ pagination.page - 1 }}</a>
            </li>
        {% endif %}

        <li class="page-item disabled"><a class="page-link" href="#">{{ pagination.page }}</a></li>

        {% if pagination.page < pagination.total_pages %}
            <li class="page-item">
                <a class="page-link" href="{{ path(pagination.link, {page: pagination.page + 1}) }}">{{ pagination.page + 1 }}</a>
            </li>
        {% endif %}

        {% if pagination.page == 1 %}
            <li class="page-item">
                <a class="page-link" href="{{ path(pagination.link, {page: pagination.page + 2}) }}">{{ pagination.page + 2 }}</a>
            </li>
        {% endif %}

        <li class="page-item {% if pagination.page > pagination.total_pages - 1 %} disabled {% endif %}">
            <a class="page-link" href="{{ path(pagination.link, {page: pagination.page + 1}) }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>