{% extends 'base.html.twig' %}


{% block body %}

    <div class="row justify-content-center">
            <div class="col-md-8">
                {% if error %}
                    <div class="alert alert-danger" role="alert">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}
                <div class="card">
                    <div class="card-header">Register</div>
                    <div class="card-body">
                        <form action="{{ path('login') }}" method="post">
                            <div class="form-group row p-2">
                                <label for="email_address" class="col-md-4 col-form-label text-md-right">E-Mail</label>
                                <div class="col-md-6">
                                    <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" required autofocus>
                                </div>
                            </div>

                            <div class="form-group row p-2">
                                <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                                <div class="col-md-6">
                                    <input type="password" id="password" name="_password" class="form-control" required>
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                </div>
                            </div>

                            <div class="form-group row m-2">
                                <div class="col-md-6 offset-md-4">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="_remember_me"> Remember Me
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 offset-md-4">
                                <button type="submit" class="btn btn-dark">
                                    Login
                                </button>
                                <a href="#" class="btn btn-link">
                                    Forgot Your Password?
                                </a>
                            </div>
                            {# If you want to control the URL the user is redirected to on success
                            <input type="hidden" name="_target_path" value="/account"/> #}
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
