{% extends 'base.html.twig' %}

{% block title %}Contact form{% endblock %}

{% block body %}

    <div class="row justify-content-center">
        <div class="col-md-8">

            <h1>Contact</h1>

            {{ form_start(form) }}
                {{ form_row(form.subject) }}
                {{ form_row(form.message) }}
                <button type="submit" class="btn btn-dark">Contact</button>
            {{ form_end(form) }}
        </div>
    </div>
    
{% endblock %}