{% extends 'base.html.twig' %}

{% block title %}Welcome to SymfoFilms!!{% endblock %}

{% block body %}
<div>
    <div class="px-4 py-5 my-5 text-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="160" height="160" fill="black" class="bi bi-camera-reels m-1" viewBox="0 0 20 20">
            <path d="M6 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM1 3a2 2 0 1 0 4 0 2 2 0 0 0-4 0z"/>
            <path d="M9 6h.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 7.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 16H2a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h7zm6 8.73V7.27l-3.5 1.555v4.35l3.5 1.556zM1 8v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1z"/>
            <path d="M9 6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM7 3a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
        </svg>
        <h1 class="display-5 fw-bold">Welcome to SymfoFilms!!</h1>
        <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">{{ films }} Films and {{ actors }} Actors.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="{{ path('film_index') }}" class="btn btn-outline-dark btn-lg px-4">
                Films
            </a>
            <a href="{{ path('actor_index') }}" class="btn btn-outline-dark btn-lg px-4 gap-3">
                Actors
            </a>
        </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for film in last_films %}
            <div class="col">
                <div class="card shadow-sm">
                    {% if film.posterUrl matches '{https://}' %}
                        <img src="{{film.posterUrl}}" class="thumbnail img-responsive">
                    {% else %}
                        <img src="{{ asset(covers_dir ~'/'~(film.posterUrl ?? 'default.jpg'))}}" class="thumbnail img-responsive">
                    {% endif %}
                    <div class="card-body">
                        <h4>{{ film.title }}</h4>
                        <p class="card-text">
                            {{ film.plot }}
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                            <a href="{{ path('film_show', {'id': film.id}) }}" type="button" class="btn btn-sm btn-outline-secondary">View</a>
                            {% if is_granted('edit', film) %}
                                <a href="{{ path('film_edit', {'id': film.id}) }}" type="button" class="btn btn-sm btn-outline-secondary">Edit</a>
                            {% endif %}
                            </div>
                            <small class="text-muted">{{ film.runningTime }} mins</small>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
